@model Table


<form class="form-search-date" asp-action="Index" asp-controller="Home" method="get">
    <div class="form-group">
            <label asp-for="name">
                Nazwa waloru
            </label>
            <select asp-for="name" asp-items="@ViewBag.ListItem"></select>
    </div>
    <div class="form-group">
        <label asp-for="index">
            Nazw Indexu
        </label>
        <select asp-for="index" asp-items="@ViewBag.ListIndex"></select>
    </div>
    <div class="form-group">
        <label>
            Data początkowa
        </label>
        <input type="date" class="form-control" asp-for="startDate" value="@ViewBag.StartDate" />
    </div>
    <div class="form-group">
        <label>
            Data końcowa
        </label>
        <input type="date" class="form-control" asp-for="finishDate" value="@ViewBag.CurrentDate" />
    </div>
    <button class="btn btn-success">Get Data</button>
</form>
<hr />
@if (!(Model is null))
{
    <form class="form-search-date" asp-action="AddData" asp-controller="Home" method="get">
        <input type="hidden" asp-for="startDate" value="@ViewBag.StartDate" />
        <input type="hidden" asp-for="finishDate" value="@ViewBag.CurrentDate" />
        <input type="hidden" asp-for="name" value="@ViewBag.Name" />
        <input type="hidden" asp-for="index" value="@ViewBag.Index" />
        <button class="btn btn-success">Save Data</button>
    </form>
}

<hr />
<table class="table table-striped text-center">
    @if (Model is null)
    {
        <body>
            <tr>
                <td>Tabela</td>
            </tr>
        </body>
    }
    else
    {
        @if (!(Model.Head is null))
        {
            <tr>
                @foreach (var h in Model.Head)
                {
                    <th scope="col">@h</th>
                }
            </tr>
        }
        @if (!(Model.Body is null))
        {
            <body>
                @foreach (var b in Model.Body)
                {
                    <tr>
                        <td>@b.ItemName</td>
                        <td>@b.IndexName</td>
                        <td>@b.Date.ToString("dd MM yyyy")</td>
                        <td>@b.Open</td>
                        <td>@b.High</td>
                        <td>@b.Low</td>
                        <td>@b.Close</td>
                        <td>@b.Range</td>
                    </tr>
                }
            </body>
        }
        @if (!(Model.Footer is null))
        {
            <footer>
                @foreach (var b in Model.Footer)
                {
                    <td>@b</td>
                }
            </footer>
        }
    }
</table>


